Package: org.thebigboss.frontflash
Name: FrontFlash
Depends: mobilesubstrate, preferenceloader, gsc.front-facing-camera, firmware (>= 4.0)
Version: 1.6
Architecture: iphoneos-arm
Description: simulate Flash in Front-Facing Camera, even in iPad.
Author: PoomSmart
Section: Tweaks
Icon: file:///Library/PreferenceLoader/Preferences/FrontFlash/FrontFlash@2x.png