Package: org.thebigboss.frontflash
Name: FrontFlash
Depends: mobilesubstrate, preferenceloader, gsc.front-facing-camera, firmware (>= 5.0), ws.hbang.common (>= 1.2)
Version: 1.7
Architecture: iphoneos-arm
Description: Front-facing camera flash, even in iPad.
Author: PoomSmart
Section: Tweaks
Icon: file:///Library/PreferenceLoader/Preferences/FrontFlash/FrontFlash@2x.png