<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>FrontFlash</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>FrontFlash.png</string>
      <key>label</key>
      <string>FrontFlash</string>
    </dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>FrontFlash</string>
        <key>footerText</key>
        <string>FrontFlash will display a screen with user-defined color or color from Profiles when Flash Mode is set to On, in Front Camera and after you press shutter button, also providing a maximum light (brightness) from iDevice's screen to give you the best illumination. Useful in dark environment!
Screen brightness will be returned to default value automatically after taking photo.</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.FrontFlash</string>
        <key>key</key>
        <string>FrontFlashOnInPhoto</string>
        <key>label</key>
        <string>Enable in Photo Mode</string>
        <key>PostNotification</key>
        <string>com.PS.FrontFlash.prefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.FrontFlash</string>
        <key>key</key>
        <string>FrontFlashOnInVideo</string>
        <key>label</key>
        <string>Enable in Video Mode</string>
        <key>PostNotification</key>
        <string>com.PS.FrontFlash.prefs</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>com.PS.FrontFlash</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>colorProfile</string>
			<key>footerText</key>
			<string></string>
			<key>label</key>
			<string>Color Profile</string>
			<key>PostNotification</key>
        	<string>com.PS.FrontFlash.prefs</string>
			<key>validTitles</key>
			<array>
				<string>White</string>
				<string>Warm</string>
				<string>Cool</string>
				<string>Custom</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>If Color Profile is Custom</string>
        <key>footerText</key>
        <string></string>
      </dict>
      <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Select Color</string>
           <key>action</key>
           <string>showColorPicker:</string>
           <key>alignment</key>
           <integer>1</integer>
        </dict>
        <dict>
			<key>PostNotification</key>
			<string>com.PS.FrontFlash.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.PS.FrontFlash</string>
			<key>key</key>
			<string>Alpha</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>action</key>
      		<string>donate:</string>
      		<key>label</key>
      		<string>♥ Donate</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>action</key>
      		<string>twitter:</string>
      		<key>label</key>
      		<string>🔗 Developer's Twitter</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerAlignment</key>
        <integer>1</integer>
        <key>footerText</key>
        <string>© 2013 - 2016 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
    </array>
  </dict>
</plist>
